
    <div class="jumbotron jumbotron-fluid opening">
      <div class="container hello">

         <%= image_tag "DP-noBG.png"%>
        <!-- <img src="images/DP-noBG.png" alt=""> -->
        <h1 class="display-3">Ric Lavers</h1>
        <p class="lead">&emsp;&emsp;Technology<br />&emsp;&emsp;&emsp;&emsp;&emsp;Business <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Sociology</p>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12"id="inner">

        </div>
      </div>
      <div class="row main-feature">
        <div class="col-3 menu"><!--  sidebar-->
          <div id="btn-one" class="sticky-top btn bg-black my-button">about</div>
          <div id="btn-two" class="sticky-top btn bg-black my-button">education</div>
          <div id="btn-three" class="sticky-top btn bg-black my-button">skills</div>
          <div id="btn-contact" class="sticky-top btn bg-black my-button">contact</div>
        </div>
        <div class="col-9" id="main-bit">
          <section id="about" class="my-sections">
            <p>"I'm a full stack junior developer based in Sydney, Australia. <br> When I'm not writing code of "</p>
          </section>
          <section id="education"  class="my-sections">
            <div class="container">
              <div class="row">
                <div class="col-2">
                  <%= image_tag("AIT_LOGO.png") %>
                </div>
                <div class="col-10">
                  <p>Dipolma of Infomation Technology - Academy of Information Technology (Coder Academy)</p>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <%= image_tag("uc_logo.png") %>
                </div>
                <div class="col-10">
                  <p>BA Business (Major: Marketing &amp; Management, Minor: Psychology) - University of Canberra</p>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <%= image_tag("ANU-Logo.png") %>
                </div>
                <div class="col-10">
                  <p>Minor of Psychology  - Australian National University</p>
                </div>
              </div>
            </div>
             <br>
          </section>
          <section id="skills" class="my-sections">
            <!-- <img src="assets/images/Logos/test.png" alt="html"> -->
            <%= image_tag("Logos/html-5.svg") %>
            <%= image_tag("Logos/css-3.svg") %>
            <%= image_tag("Logos/GitHub-Mark.svg") %>
            <%= image_tag("Logos/bootstrap.svg") %>
            <%= image_tag("Logos/jquery.svg") %>
            <%= image_tag("Logos/javascript.svg") %>
            <%= image_tag("Logos/ruby.svg") %>
            <%= image_tag("Logos/rails.svg") %>
            <%= image_tag("Logos/python.svg") %>
            <%= image_tag("Logos/svg.svg") %>
            <%= image_tag("Logos/trello.svg") %>
            <%= image_tag("Logos/heroku.svg") %>
            <%= image_tag("Logos/google-adwords.svg") %>
            <%= image_tag("Logos/mailchimp-freddie.svg") %>
            <%= image_tag("Logos/raspberry-pi.svg") %>
            <%= image_tag("Logos/xero.svg") %>
            <%= image_tag("Logos/eventbrite.svg") %>
            <%= image_tag("Logos/adobe-illustrator-cc.svg") %>
            <%= image_tag("Logos/indesign.png") %>
            <%= image_tag("Logos/adobe-xd.svg") %>
            <%= image_tag("Logos/adobe-animate.svg") %>
            <%= image_tag("Logos/ableton_logo.jpg") %>
            <%= image_tag("Logos/microsoft-office-2013.svg") %>
            <%= image_tag("Logos/facebook-ads.png") %>
            <%= image_tag("Logos/tableau.png") %>
            <%= image_tag("Logos/axure.png") %>
            <%= image_tag("Logos/sc2.png") %>

            <p>With skills with a broad range of technologies, programming languages and software, Ric is a valuable assest on any development team. </p>
          </section>
          <section id="contact" class="my-sections">
            <p>"Contact - ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          </section>
          </div>
        </div><!-- row-->

      </div><!-- container-fluid-->
      <div class="container">
        <div class="row">
          <div class="col-12 footer">
            <svg id="Layer_3" class="static" data-name="Layer 3" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 725.7 488.5">
              <title>items</title>

              <polyline id="word" points="1.5 -320 1.5 320.5 223.5 320.5 223.5 120.5 723.5 120.5 723.5 170.5 323.5 170.5 723.5 170.5  723.5 220.5 323.5 220.5 723.5 220.5 723.5 270.5 323.5 270.5 723.5 270.5 724 320.5 623.5 320.5 724 320.5 724.2 488.5" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="3"/>


            <g class=“contact-info” >
                <text id="text_1" class="text" transform="translate(232 158.8)" font-size="20" font-family="Myriad Pro">name</text>
                <text id="text_2" class="text" transform="translate(233.7 208.8)" font-size="20" font-family="Myriad Pro">number</text>

                <text id="text_3" class="text" transform="translate(233.7 258.8)" font-size="20" font-family="Myriad Pro">email</text>
                <text id="text_4" class="text" transform="translate(233.7 308.8)" font-size="20" font-family="Myriad Pro">message</text>
                <text class="text text-title" transform="translate(223.5 100.3)" font-size="32" font-family="Myriad Pro">C<tspan x="23.9" y="0">o</tspan><tspan x="47" y="0">n</tspan><tspan x="70.1" y="0">ta</tspan><tspan x="104.2" y="0">c</tspan><tspan x="123.6" y="0">t</tspan></text>

               <foreignObject x="323.5" y="123" >
                  <div>
                  <input class="my-input"placeholder="Ric Lavers"></input>
                      </div>
              </foreignObject>
              <foreignObject x="323.5" y="170.5" >
                  <div>
                  <input class="my-input"placeholder="+61 422 481 554"></input>
                      </div>
              </foreignObject>
            <foreignObject x="323.5" y="220.5" >
                  <div>
                  <input class="my-input"placeholder="ric_lavers@outlook.com"></input>
                      </div>
              </foreignObject>
            <foreignObject x="323.5" y="270.5" >
                  <div>
                    <textarea class="my-input"id="message-input" name="message" rows="10" cols="30" placeholder="Send me message! or contact me direct with the info above"></textarea>
                      </div>
              </foreignObject>



              </g>
              <text x="-126" y="-280"/></svg>
          </div>
        </div>
      </div>

    </div>
