
    <div class="jumbotron jumbotron-fluid opening">
      <div class="my-icons">
        <a href="https://github.com/ric-lavers">  <%= image_tag "Logos/GitHub-Mark.svg", class:"icon"%></a>
        <a href="https://twitter.com/Ric_lavers"><%= image_tag "Logos/twitter.svg", class:"icon"%></a>
        <a href="https://soundcloud.com/aeonknight"><%= image_tag "Logos/soundcloud.svg", class:"icon"%></a>
        <a href="https://linkedin.com/ric-lavers"><%= image_tag "Logos/linkedin.svg", class:"icon"%></a>

      </div>
      <div class="container hello">


        <%= image_tag "DP-noBG.png", id:"face"%>
        <!-- <img src="images/DP-noBG.png" alt=""> -->
        <h1 class="display-3">Ric Lavers</h1>
        <p class="lead">&emsp;&emsp;Technology<br />&emsp;&emsp;&emsp;&emsp;&emsp;Business <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Sociology</p>

      </div>
    </div>
    <div class="container-fluid">
      <div class="row main-feature">
        <div class="col-3 menu"><!--  sidebar-->
          <div id="btn-one" class="sticky-top btn bg-black my-button">about</div>
          <div id="btn-two" class="sticky-top btn btn-two bg-black my-button">education</div>
          <div id="btn-three" class="sticky-top btn bg-black my-button">skills</div>
          <a id="go" href="#Layer_3"><div id="btn-contact" class="sticky-top btn bg-black">contact</div></a>
        </div>

        <div class="col-9" id="main-bit">
          <div id="about" class="my-sections">
            <p>"I'm a full stack Junior developer based in Sydney, Australia. <br> <br> When I'm not writing code I might be planning a Event, making some music, or reading sci-fi.<br /><br>  My road to development has taken me through two degrees, three businesses, and a heap of stories but with development I've found something I really like."</p>
          </div>
          <div id="education"  class="my-sections">
            <div class="container">
              <div class="row">
                <div class="col-xs-4 col-sm-2">
                  <%= image_tag("AIT_LOGO.png") %>
                </div>
                <div class="col-xs-8 col-sm-10">
                  <p>Dipolma of Infomation Technology - Academy of Information Technology (Coder Academy)</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4 col-sm-2">
                  <%= image_tag("uc_logo.png") %>
                </div>
                <div class="col-xs-8 col-sm-10">
                  <p>BA Business (Major: Marketing &amp; Management, Minor: Psychology) - University of Canberra</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4 col-sm-2">
                  <%= image_tag("ANU-Logo.png") %>
                </div>
                <div class="col-xs-8 col-sm-10">
                  <p>Minor of Psychology  - Australian National University</p>
                </div>
              </div>
            </div>
             <br>
          </div>
          <div id="skills" class="my-sections">
            <!-- <img src="assets/images/Logos/test.png" alt="html"> -->
            <%= image_tag("Logos/html-5.svg",:title => 'html-5' ) %>
            <%= image_tag("Logos/css-3.svg",:title => 'css-3' ) %>
            <%= image_tag("Logos/GitHub-Mark.svg",:title => 'Github' ) %>
            <%= image_tag("Logos/bootstrap.svg",:title => 'Bootstrap' ) %>
            <%= image_tag("Logos/jquery.svg",:title => 'jQuery' ) %>
            <%= image_tag("Logos/javascript.svg",:title => 'JavaScript' ) %>
            <%= image_tag("Logos/ruby.svg",:title => 'Ruby' ) %>
            <%= image_tag("Logos/rails.svg",:title => 'Ruby on Rails' ) %>
            <%= image_tag("Logos/python.svg",:title => 'Python' ) %>
            <%= image_tag("Logos/svg.svg",:title => 'SVG' ) %>
            <%= image_tag("Logos/trello.svg",:title => 'Trello' ) %>
            <%= image_tag("Logos/heroku.svg",:title => 'Heroku' ) %>
            <%= image_tag("Logos/google-adwords.svg",:title => 'Google Adwords' ) %>
            <%= image_tag("Logos/mailchimp-freddie.svg",:title => 'Mailchimp' ) %>
            <%= image_tag("Logos/raspberry-pi.svg",:title => 'Raspberry Pi' ) %>
            <%= image_tag("Logos/xero.svg",:title => 'Xero' ) %>
            <%= image_tag("Logos/eventbrite.svg",:title => 'Eventbrite' ) %>
            <%= image_tag("Logos/adobe-illustrator-cc.svg",:title => 'Adobe Illustrator' ) %>
            <%= image_tag("Logos/indesign.png",:title => 'Adobe InDesign' ) %>
            <%= image_tag("Logos/adobe-xd.svg",:title => 'Adobe XD' ) %>
            <%= image_tag("Logos/adobe-animate.svg",:title => 'Adobe Animate' ) %>
            <%= image_tag("Logos/ableton_logo.jpg",:title => 'Ableton Live' ) %>
            <%= image_tag("Logos/microsoft-office-2013.svg",:title => 'MS Office' ) %>
            <%= image_tag("Logos/facebook-ads.png",:title => 'Facebook Ads' ) %>
            <%= image_tag("Logos/tableau.png",:title => 'Tableau' ) %>
            <%= image_tag("Logos/axure.png",:title => 'Axure' ) %>
            <%= image_tag("Logos/sc2.png",:title => 'Starcraft 2 (Protoss)' ) %>

            <p>With skills with a broad range of technologies, programming languages and software, Ric is a valuable assest on any development team. </p>
          </div>
          <div id="Contact" class="my-sections">
            <p>"Contact - ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "</p>
          </div>
          </div>
        </div><!-- row-->

      </div><!-- container-fluid-->
      <div class="container-fluid">
        <a href="#last"></a>
        <div class="row">
          <div class="col-12 footer">
            <svg id="Layer_3" class="static" data-name="Layer 3" xmlns="http://www.w3.org/2000/svg"  viewBox="100 0 625.7 488.5">
              <title>items</title>

              <polyline id="word" points="100.5 -220 100.5 320.5 223.5 320.5 223.5 120.5 723.5 120.5 723.5 170.5 323.5 170.5 723.5 170.5  723.5 220.5 323.5 220.5 723.5 220.5 723.5 270.5 323.5 270.5 723.5 270.5 724 320.5 , 724.2 488.5, 321.5 488.5 321.5 438.5 223.5 438.5 223.5 488.5 321.5 488.5" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="3"/>


            <g class='contact-info'>
                <text id="text_1" class="text" transform="translate(232 158.8)" font-size="20" font-family="Myriad Pro">name</text>
                <text id="text_2" class="text" transform="translate(233.7 208.8)" font-size="20" font-family="Myriad Pro">number</text>

                <text id="text_3" class="text" transform="translate(233.7 258.8)" font-size="20" font-family="Myriad Pro">email</text>
                <text id="text_4" class="text" transform="translate(233.7 308.8)" font-size="20" font-family="Myriad Pro">message</text>

  <foreignObject x="223.7" y="438.5" height="100%" width="100%">
      <div xmlns="http://www.w3.org/1999/xhtml">
      <button class="send-button">SEND</button>
          </div>
  </foreignObject>
                <text class="text text-title" transform="translate(223.5 100.3)" font-size="32" font-family="Myriad Pro">C<tspan x="23.9" y="0">o</tspan><tspan x="47" y="0">n</tspan><tspan x="70.1" y="0">ta</tspan><tspan x="104.2" y="0">c</tspan><tspan x="123.6" y="0">t</tspan></text>

               <foreignObject x="323.5" y="123" height="100%" width="100%">
                  <div>
                  <input class="my-input" placeholder="Ric Lavers"/>
                      </div>
              </foreignObject>
              <foreignObject x="323.5" y="170.5" height="100%" width="100%">
                  <div>
                  <input class="my-input" placeholder="+61 422 481 554"/>
                      </div>
              </foreignObject>
            <foreignObject x="323.5" y="220.5" height="100%" width="100%">
                  <div>
                  <input class="my-input" placeholder="ric_lavers@outlook.com"/>
                      </div>
              </foreignObject>
            <foreignObject x="323.5" y="270.5" height="100%" width="100%" >

                <div>
                  <textarea class="my-input" id="message-input" name="message" rows="10" cols="30" placeholder="Send me message! or contact me direct with the info above"></textarea>
                    </div>


              </foreignObject>

              </g>
              <text x="-126" y="-280"/></svg>
          </div>
        </div>
      </div>
